AWS/MyStateMachine-sj5krp1uk-definition.asl.json
{"Comment":"A description of my state machine","StartAt":"RetrieveObjectFromS3","States":{"RetrieveObjectFromS3":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","OutputPath":"$.Payload","Parameters":{"FunctionName":"arn:aws:lambda:us-east-1:418295723137:function:RetrieveObjectFromS3:$LATEST","Payload.$":"$"},"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException","Lambda.TooManyRequestsException"],"IntervalSeconds":1,"MaxAttempts":3,"BackoffRate":2,"JitterStrategy":"FULL"}],"Next":"TryAnalyzeExpense"},"TryAnalyzeExpense":{"Type":"Task","Resource":"arn:aws:states:::aws-sdk:textract:analyzeExpense","Parameters":{"Document":{"S3Object":{"Bucket.$":"$.bucket","Name.$":"$.key"}}},"ResultPath":"$.textract_response","Catch":[{"ErrorEquals":["States.TaskFailed"],"ResultPath":"$.errorInfo","Next":"RunTextractCondenseOutput"}],"Next":"CondenseTextractOutput"},"CondenseTextractOutput":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","OutputPath":"$.Payload","Parameters":{"Payload.$":"$","FunctionName":"arn:aws:lambda:us-east-1:418295723137:function:ParseTextractOutput:$LATEST"},"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException","Lambda.TooManyRequestsException"],"IntervalSeconds":1,"MaxAttempts":3,"BackoffRate":2,"JitterStrategy":"FULL"}],"Next":"Choice"},"Choice":{"Type":"Choice","Choices":[{"Variable":"$.empty","IsPresent":true,"Next":"Pass"}],"Default":"GetAmountAndDate"},"Pass":{"Type":"Pass","Parameters":{"key.$":"$.key","user_id.$":"$.user_id","predicted_category":"Meals","name.$":"$.name","predicted_date":{"full_date":"01/01/1899","month":"01","year":"1899","day":"01"},"predicted_amount":"0.00"},"Next":"InsertIntoTwoRDS"},"GetAmountAndDate":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","OutputPath":"$.Payload","Parameters":{"Payload.$":"$","FunctionName":"arn:aws:lambda:us-east-1:418295723137:function:GetAmountAndDate:$LATEST"},"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException","Lambda.TooManyRequestsException"],"IntervalSeconds":1,"MaxAttempts":3,"BackoffRate":2,"JitterStrategy":"FULL"}],"Next":"AttachPrompt"},"AttachPrompt":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","OutputPath":"$.Payload","Parameters":{"Payload.$":"$","FunctionName":"arn:aws:lambda:us-east-1:418295723137:function:AttachPrompt:$LATEST"},"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException","Lambda.TooManyRequestsException"],"IntervalSeconds":1,"MaxAttempts":3,"BackoffRate":2,"JitterStrategy":"FULL"}],"Next":"Bedrock InvokeModel"},"Bedrock InvokeModel":{"Type":"Task","Resource":"arn:aws:states:::bedrock:invokeModel","Parameters":{"ModelId":"arn:aws:bedrock:us-east-1::foundation-model/meta.llama3-70b-instruct-v1:0","Body":{"prompt.$":"$.prompt","temperature":0.2,"top_p":1,"max_gen_len":100}},"ResultPath":"$.bedrock_response","Next":"ParseBedrockOutput"},"ParseBedrockOutput":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","OutputPath":"$.Payload","Parameters":{"Payload.$":"$","FunctionName":"arn:aws:lambda:us-east-1:418295723137:function:ParseBedrockOutput:$LATEST"},"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException","Lambda.TooManyRequestsException"],"IntervalSeconds":1,"MaxAttempts":3,"BackoffRate":2,"JitterStrategy":"FULL"}],"Next":"InsertIntoTwoRDS"},"InsertIntoTwoRDS":{"Type":"Parallel","Branches":[{"StartAt":"PutToRDS(receipt_pred)","States":{"PutToRDS(receipt_pred)":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","Parameters":{"Payload.$":"$","FunctionName":"arn:aws:lambda:us-east-1:418295723137:function:PutToRDS:$LATEST"},"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException","Lambda.TooManyRequestsException"],"IntervalSeconds":1,"MaxAttempts":3,"BackoffRate":2,"JitterStrategy":"FULL"}],"End":true}}},{"StartAt":"PutToRDS(receipt_data)","States":{"PutToRDS(receipt_data)":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","Parameters":{"Payload.$":"$","FunctionName":"arn:aws:lambda:us-east-1:418295723137:function:PutToRDS-receipt_data:$LATEST"},"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException","Lambda.TooManyRequestsException"],"IntervalSeconds":1,"MaxAttempts":3,"BackoffRate":2,"JitterStrategy":"FULL"}],"End":true}}}],"Next":"Pass (1)"},"Pass (1)":{"Type":"Pass","End":true,"OutputPath":"$.[0].Payload"},"RunTextractCondenseOutput":{"Type":"Task","Resource":"arn:aws:states:::lambda:invoke","OutputPath":"$.Payload","Parameters":{"FunctionName":"arn:aws:lambda:us-east-1:418295723137:function:RunTextractCondenseOutput:$LATEST","Payload.$":"$"},"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException","Lambda.TooManyRequestsException"],"IntervalSeconds":1,"MaxAttempts":3,"BackoffRate":2}],"Next":"Choice"}}}
